<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Home - Brand</title>
    <link rel="stylesheet" href="../assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kaushan+Script">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Aguafina+Script">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Convergence">
    <link rel="stylesheet" href="../assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="../assets/css/bootstrap-grid.css">
    <link rel="stylesheet" href="../assets/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="../assets/css/bootstrap-reboot.css">
    <link rel="stylesheet" href="../assets/css/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="../assets/css/bootstrap.css">
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/untitled.css">
</head>

<body id="page-top" data-bs-spy="scroll" data-bs-target="#mainNav" data-bs-offset="54">


</form>
<nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-dark">
    <div class="container"><button data-bs-toggle="collapse" data-bs-target="#navbarResponsive" class="navbar-toggler navbar-toggler-right" type="button" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-bars"></i></button><img class="navbar-brand" src="../assets/img/Tinder-Logo-PNG9.png" style="width: 200px;">
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto text-uppercase nabartc">
                <li class="nav-item" style="margin: 5px;border-radius: 50px;border: 1px none var(--bs-pink);background: var(--bs-pink);margin-left: 0;"><a class="nav-link" href="#about" style="margin: 5px;background: var(--bs-pink);border-radius: 10px;border: 1px none var(--bs-pink);color: rgb(255,255,255);font-family: 'Droid Serif';letter-spacing: 0px;font-style: normal;margin-right: 13px;margin-left: 17px;">Tiếng Việt</a></li>
                <li class="nav-item" style="border-radius: 50px;border: 1px none var(--bs-pink);background: var(--bs-pink);margin: 5px;margin-left: 0;"><a class="nav-link" href="#team" style="border-radius: 10px;margin: 5px;background: var(--bs-pink);border: 1px none var(--bs-pink);color: rgb(255,255,255);font-family: 'Droid Serif';margin-right: 13px;margin-left: 17px;">Đăng kí</a></li>
                <li class="nav-item" style="border-radius: 50px;border: 1px none var(--bs-pink);background: var(--bs-pink);margin: 5px;margin-left: 0;"><a class="nav-link" href="#contact" style="border-radius: 10px;background: var(--bs-pink);color: rgb(255,255,255);margin: 5px;border: 1px none var(--bs-pink);font-family: 'Droid Serif';margin-right: 13px;margin-left: 17px;">Đăng nhập</a></li>
            </ul>
        </div>
    </div>
</nav>
<header class="masthead" style="background: linear-gradient(rgb(253,42,123) 0%, rgb(255,106,91));">
    <div class="container">
        <div class="intro-text">
            <div class="intro-lead-in"><span>Welcome To Tinder&nbsp;</span></div>
            <div class="intro-heading text-uppercase"><span style="font-family: 'Roboto Slab', serif;font-weight: 500;font-style: normal;letter-spacing: 0px;"><strong>swipe righr</strong></span></div><div><a class="btn btn-primary btn-xl text-uppercase btn btn-danger" href="#services" style="  border-radius: 50px;
  border-style: none;
  background: var(--yellow);
  color: rgb(109,109,109);
" data-toggle="modal" data-target="#modalDelele">Tham gia</a>
            <div class="modal fade" id="modalDelele">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <style>
                            a {
                                outline: none;
                            }

                            a:hover {
                                opacity: 0.7;
                            }
                        </style>
                        <div class="modal-header">
                            <div class="container">
                                <div style="height: auto; float: right; width: 20%;" class="buttun">
                                    <button class="close" style="float: right; margin-right: 5px;" type="button" data-dismiss="modal">            <span aria-hidden="true">×</span></button>
                                </div>
                                <div style="height: auto; float: left; display: block; width: 100%;">
                                    <div class="imgct" style=" margin: 0px auto; width: 10%; margin: 0 auto;">
                                        <img style="width: 100%;" src="../assets/img/logo-tin.png">
                                    </div>
                                </div>
                                <div style="clear: both;"></div>
                                <div style="margin: 5px auto;text-align: center;font-size: 20px;color: rgb(0, 0, 0)">
                                    Đăng ký
                                </div>
                            </div>
                        </div>
                        <!-- Thân -->
                        <div class="container">
                            <div
                                    style="background-color: rgb(236, 236, 236);width: 80%;height: auto;border: black 1px solid;border-radius: 50px;margin: 5px auto;"
                                    class="gg">
                                <a href="#" style="width: auto;height: auto;">
                                    <div style="width: 20%;float: left;height: auto;padding: 10px;margin: auto 0;">
                                        <img style="float: right;width: 30px;" src="../assets/img/gg.png">
                                    </div>
                                    <div style="width: 80%;float: right;padding: 10px 0;font-size: 15px;">Đăng nhập bằng google</div>
                                    <div style="clear: both;"></div>
                                </a>
                            </div>
                            <div
                                    style="background-color: rgb(236, 236, 236);width: 80%;height: auto;border: black 1px solid;border-radius: 50px;margin: 5px auto;">
                                <a href="#" style="width: auto;height: auto;">
                                    <div style="width: 20%;float: left;height: auto;padding: 10px;margin: auto 0;">
                                        <img style="float: right;width: 30px;" src="../assets/img/fb.png">
                                    </div>
                                    <div style="width: 80%;float: right;padding: 10px 0;font-size: 15px;">Đăng nhập bằng facebook</div>
                                    <div style="clear: both;"></div>
                                </a>
                            </div>
                            <div
                                    style="background-color: rgb(236, 236, 236);width: 80%;height: auto;border: black 1px solid;border-radius: 50px;margin: 5px auto;">
                                <a href="#" style="width: auto;height: auto;">
                                    <div style="width: 20%;float: left;height: auto;padding: 10px;margin: auto 0;">
                                        <img style="float: right;width: 30px;" src="../assets/img/dt.png">
                                    </div>
                                    <div style="width: 80%;float: right;padding: 10px 0;font-size: 15px;">Đăng nhập bằng số điện thoại</div>
                                    <div style="clear: both;"></div>
                                </a>
                            </div>
                            <div style="margin: 5px auto;width: 50%;height: auto;">
                                <a style="text-align: center;margin: 5px auto;width: 100%;height: auto;" href="">Sự cố đăng nhập</a>
                            </div>
                        </div>
                        <!-- cuối -->
                        <div>
                            <div style="font-size: 30px;text-align: center;margin: 10px;">Tải ứng dụng ngay</div>
                            <div style="width: 70%;margin:0 auto;">
                                <div
                                        style="width: 40%;background-color: rgb(236, 236, 236);height: auto;float: left;padding: 10px 0;height: auto;border-radius: 50px;margin: 10px 5%;">
                                    <a href="#" style="width: auto;height: auto;">
                                        <img style="width: 20%;margin: 0 40%;height: auto;" src="../assets/img/ggpl.png">
                                    </a>
                                </div>
                                <div
                                        style="width: 40%;background-color: rgb(236, 236, 236);height: auto;float: right;padding: 10px 0;height: auto;border-radius: 50px;margin: 10px 5%;">
                                    <a href="#" style="width: auto;height: auto;">
                                        <img style="width: 20%;margin: 0 40%;height: auto;" src="../assets/img/ap.png">
                                    </a>
                                </div>
                                <div style></div>
                            </div>
                        </div>
                        <script>
                            function dieu_huong() {
                                alert("s")
                                location.replace("http://webcoban.vn");
                            }
                        </script>
                    </div>
                </div>
                <!--     ------------------------------------- -->
                <script src="../assets/js/jquery-3.3.1.min.js"></script>
                <script src="../assets/js/popper.min.js"></script>
                <script src="../assets/js/bootstrap.min.js"></script>
                <script type="text/javascript">
                    $(function () {
                        $('[data-toggle="popover"]').popover()
                    })
                    $('.popover-dismiss').popover({
                        trigger: 'focus'
                    })
                </script>
            </div>
        </div>
        </div>
</header>
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4"><span class="copyright"><br>© 2021 Match Group, LLC, mọi quyền đã được bảo lưu.<br><br></span></div>
            <div class="col-md-4">
                <ul class="list-inline social-buttons">
                    <li class="list-inline-item"><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li class="list-inline-item"><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li class="list-inline-item"><a href="#"><i class="fa fa-linkedin"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<script src="../assets/bootstrap/js/bootstrap.min.js"></script>
<script src="../assets/js/agency.js"></script>
<script src="../assets/js/bootstrap.bundle.js"></script>
<script src="../assets/js/bootstrap.bundle.min.js"></script>
<script src="../assets/js/bootstrap.js"></script>
<script src="../assets/js/bootstrap.min.js"></script>
<script src="../assets/js/jquery-3.3.1.min.js"></script>
<script src="../assets/js/popper.min.js"></script>
</body>

</html>